/** @import units: [button, title] **/
.mg-dialog .mg-title {
    position: relative;
    border-width: 0 0 1px 0;
    _display: inline-block;
    _line-height: 30px;
}
.mg-dialog .mg-title-dragable {
    cursor: move;
}
.mg-dialog .mg-title .close-btn {
    position: absolute;
    right: 5px;
    top: 7px;
    display: block;
    outline: none;
}
.mg-dialog .mg-footer .mg-footerContainer {
    padding: 7px 10px;
    margin: 0 auto;
}
.mg-dialog .mg-footer .mg-btn {
    margin-left: 10px;
}
.mg-dialog .mg-footer .mg-button-right {
    text-align: right;
}

