.mg-btn {
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border: 1px solid #BBB;
    background-color: #F5F5F5;
    *background-color: #E6E6E6;
    background-image: -moz-linear-gradient(top, #FFF, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
    background-image: -o-linear-gradient(top, #FFF, #E6E6E6);
    background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.mg-btn:hover,
.mg-btn:active,
.mg-btn.active {
    color: #333333;
    background-color: #E6E6E6;
    *background-color: #D9D9D9;
    background-position: 0 -15px;
}
.mg-btn:active,
.mg-btn.active {
    background-color: #CCC \9;
}

/** primary **/
.mg-btn-primary {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006DCC;
    *background-color: #04C;
    background-image: -moz-linear-gradient(top,#08C,#04C);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08C),to(#04C));
    background-image: -webkit-linear-gradient(top,#08C,#04C);
    background-image: -o-linear-gradient(top,#08C,#04C);
    background-image: linear-gradient(to bottom,#08C,#04C);
    background-repeat: repeat-x;
    border-color: #04C #04C #002A80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.mg-btn-primary:hover,
.mg-btn-primary:active,
.mg-btn-primary.active {
    color: #FFF;
    background-color: #04C;
    *background-color: #003BB3;
    background-color: #039 \9;
}

/** disabled **/
.mg-btn-disabled {
    color: #BBB;
    cursor: not-allowed;
}
.mg-btn-disabled:hover,
.mg-btn-disabled:active,
.mg-btn-disabled.active {
    color: #BBB;
    background-color: #F5F5F5;
    *background-color: #E6E6E6;
    background-position: 0 0;
}

