.mg-title {
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top, #FFF, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
    background-image: -o-linear-gradient(top, #FFF, #F2F2F2);
    background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    color:#777;
}
