.mg-btn {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006DCC;
    *background-color: #04C;
    background-image: -moz-linear-gradient(top, #08C, #04C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
    background-image: -webkit-linear-gradient(top, #08C, #04C);
    background-image: -o-linear-gradient(top, #08C, #04C);
    background-image: linear-gradient(to bottom, #08C, #04C);
    background-repeat: repeat-x;
    border-color: #04C #04C #002A80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.mg-btn:hover, .mg-btn:active, .mg-btn.active{
    color: #FFF;
    background-color: #04C;
    *background-color: #003BB3;
}
.mg-btn:active, .mg-btn.active {
    background-color: #003399 \9;
}